@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5px;
    font-size: 16px;
}

section {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

.click {
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

/* 

Landing Page

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;

}

.header__para {
    line-height: 2;
    font-size: 24px;
    max-width: 450px;
}

.title {
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title--secondary, .blue{
    color:rgb(75, 132, 236);    
}

.social__list {
    margin-top: 16px
}

.social__link {
    background-color: rgb(75, 132, 236);
    color: white;
    margin-top: 16px;
    padding: 6px; 
    height: 32px;
    width: 32px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social__link.hover {

}


/* 

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
    
}

#personal-logo {
    filter: invert(1);
    height: 50px;
    width: 50px;
}

.nav__link--list {
    display: flex;
    
}

.nav__link {
    margin: 0 12px;

}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;

}

.fa-solid {
    font-size: 20px;
}