@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

section {
    background-color: rgb(245, 245, 245);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

/* 

Landing Page

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;

}

.header__para {
    line-height: 2;
    font-size: 24px;
    max-width: 450px;
}

.title {
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title--secondary, .blue{
    color:rgb(75, 132, 236);    
}

.social__list {
    margin-top: 16px;
    display: flex;
    
}

.social__link {
    background-color: rgb(75, 132, 236);
    color: white;
    margin-top: 16px;
    padding: 6px; 
    height: 32px;
    width: 32px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
}


.mail__btn {
    width: 48px;
    height: 48px;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    background-color: rgb(75, 132, 236);
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    background-color: #242424;
    content: "";
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
}


/* 

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
    
}

#personal-logo {
    filter: invert(1);
    height: 50px;
    width: 50px;
}

.nav__link--list {
    display: flex;
    
}

.nav__link {
    margin: 0 12px;

}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;

}

/*

PROJECTS

*/

.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;

}

.project__img {
    width: 100%;
    transition: all 600ms ease;
}

.project__wrapper {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.project__wrapper:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%); 
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: white;
    max-width: 550px;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0.7;
    transition: all 450ms ease;
}

.project__description--title {
    font-size: 40px;
}

.project__description--subtitle {
    margin: 8px 0;
}

.project__description--link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project__description--para {
    margin: 16px 0;
}

/*

FOOTER

*/

footer {
    background-color: #242424;
    display: flex;
}

.footer__container {
    margin: 0 auto;
}